<h3>About</h3>

<p>
	Sikkim has been given many names. The Lepchas, original inhabitants of the land called it Nye-mae-el `paradise'. The Limbus named it Su Khim or `new house' while to the Bhutias it was Beymul Demazong `the hidden valley of rice'.

Introduction ImageToday, travelers embarking on a journey of Sikkim discover a mystical wonderland of spectacular natural beauty. The panoramic perfection of the snow-capped Himalayas, the heady scent of flower-bedecked meadows, the vibrant culture and joyous festivals, the infinite variety of its flora and fauna makes it a holiday that is at once fascinating and challenging.

The crowning glory of Sikkim is Mt. Khangchendzonga, the third highest mountain in the world. With magnificent snow and ice scenery it is often regarded as the undisputed monarch among the peaks of the world. But for the Sikkimese Khangchendzonga is much more than a mountain and is revered as the abode of their guardian deity Dzo-nga.

Introduction Image

Even today the mountain god is invoked and prayed to during Pang Lhabsol, a major Sikkimese festival, which also commemorates the blood brotherhood sworn between the Lepchas and the Bhutias at Kabi in the fifteenth century. The sacred mountain can be viewed from every corner of Sikkim and remains an intrinsic part of the consciousness of the people.

Sikkim shares its border with Nepal in the west and Bhutan in the east, with the Tibetan plateau rising from its northern border. It was once a Himalayan monarchy and part of the fabled Silk Route to China. Its merger with India in 1975 has offered a window to the world to discover the treasures of this hidden land. 

</p>
